body {
    background: red;
}

p {
    color: white;
    text-align: center;
    font-size: 50px;
    margin-top: 20%;
}

a {
    background-color: red!important;
    border-color: red!important;
    cursor: default!important;
}