html, body {

    width: 100%;
    height: 100%;
}

body {
    background-color: white;
}

div {
    border: solid 1px ;
}

p {
    margin-top: 25%;
    font-size: 40px;
    color: teal;
}

.line {
    height: 20%;
    font-size: 40px;
    background-color: #E0FFFF;
}

.square {
    height: 30%;
}

#page {
    height: inherit;
    width: inherit;
}